body {
  background: #F2EFED;
  color: #2C2C2C;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: #7B4246;
  color: #F2EFED;
  padding: 8px;
}

#navbar header,
.main-section header {
  font-family: Playfair Display
  font-weight: 700;
}

#navbar header {
  font-size: 1.25rem;
  margin: 8px 0;
}

.main-section header {
  color: #7B4246;
  font-size: 1.75rem;
  margin: 8px 0;
}

#main-doc {
  margin-left: 256px;
  padding: 16px;
}

.nav-link {
  display: block;
  margin: 8px 0;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: bold;

  color: #F2EFED;             
  background: transparent;    
  border: 1px solid #F2EFED;  
}


.nav-link:hover {
  background: #F2EFED;
  color: #2C2C2C;
  border-color: #F2EFED;
}


a {
  color: #FF4A96;
}


@media (max-width: 800px) {
  #navbar {
    position: static;
    width: 100%;
    height: auto;
  }
  #main-doc {
    margin: 0;
  }
  .nav-link {
    display: inline-block;
    margin: 8px 8px 8px 0;
  }
}

  h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

  h2 {
font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}


  h3 {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
